*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    
}
img{
    max-width: 100%;
}

.header{
    background-color: #000;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.logo{
    width: 100px;
}

.menu ul{
    display:flex;
}
.menu ul li{
    padding: 0 20px;
    position: relative;
}
.menu ul li::after{
    content: '';
    position: absolute;
    width:80%;
    height: 2px;
    background-color: #fff;
    bottom: -10px;
    left: 10px;
}
.menu ul li a{
    color: #fff;
    font-size: 20px;
}

.main-body{
    margin-top: 50px;
    margin-bottom: 20px;
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
    justify-content: space-between;

}

.left-side{
    width: 75%;

}
.right-side{
    width: 25%;
    margin-left: 20px;
    padding: 50px 10px;
    background-color: #cccccc;
    border-left: 4px solid red;
}
.row{
    display: flex;
    margin: 20px 0;
    justify-content: space-between;
}
.box0{
    width: 30% !important;
    height: 220px;
    overflow: hidden;
    border: 1px solid green;
}
.box{
    width: 20% !important;
    height: 220px;
    overflow: hidden;
    border: 1px solid green;
}
.box0 h3{
    display: inline-flex;
    padding:15px 5px ;
    color: #fff;
    background-color: red;
}
.box1{
    align-items: left;
    justify-content: left;
}
.box2{
    display: flex;
    align-items: center;
    justify-content: center;
}
.box3{
    display: flex;
    align-items: flex-end;
    justify-content: end;
}

.lorem1{
    padding: 10px;
    display: flex;
    text-align: left;
    align-items: center;
    justify-content: center;
}
.lorem2{
    display: flex;
    flex-grow: 5;
    padding: 10px;
    align-content: center;
    margin: 0 10px;
    align-self: baseline;
   
}


.box-row {
    width: 30%;
    height: 250px;
    margin: 0 5px;
    border: 2px solid green;
}
.box-row  h1{
    border: 1px solid green;
    background-color: red;
    display: inline-block;
    color: #fff;
    font-weight: 300;
    padding: 10px;

}
.one{
    display: flex;
    align-items: flex-start;
    padding-top:30px;
    justify-content:space-around;
}
.two {
    display: inline-flex;
    flex-flow: row wrap;
    padding: 0 10px;
    align-items: flex-start;
    align-content: center;
    flex-grow: 2;
    justify-content: flex-start;
}
.three{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 40px 10px;

}
.three .h2, .h3, .h4{
    padding: 10px 15px;
    background: red;
    font-size: 18px;
    border: 2px solid green;
    color: #fff;
    display: inline-block;
}
.three .h2{
    align-self: flex-start;
}
.three .h3{display:flex;
    align-self: center;}
.three .h4{
    align-self: flex-end;
}

.footer{
    background: rgba(0, 0, 0, 0.973);
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer ul{
    display: flex;
}
.footer ul li{
    padding: 0 20px;
    line-height:80px;
}
.footer ul li a{
    color: #fff;
    font-size: 20px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    border-bottom: 2px solid #fff;

}


